.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/google_cloud_key.json
inst/doc
docs
/doc/
/Meta/
data-raw/gadm_cache/
data-raw/polities_inputs/gadm_geometries.gpkg
data-raw/polities_inputs/cshapes_europe_geometries.gpkg
data-raw/polities_inputs/cshapes_new_entries.csv
data-raw/polities_inputs/cshapes_dependencies_inventory.csv
